.top-bar {
    width: 100vw;
}

button {
    width: 75vw;
    height: 10vw;
    margin-bottom: 1.25vw;
    margin-top: 1.25vw;
    font-weight: 500;
    font-size: 4vw;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

#scroll {
    overflow-y: scroll;
}

#dicts {
    height: 100%;
}

#scroll::-webkit-scrollbar {
    display: none;
}

#left {
    display: flex;
    width: 100%;
    align-items: center;
}

#back-button {
    width: 10vh;
    height: 10vh;
    margin-left: 2.5vw;
    font-size: 4vh;
    font-weight: 1000;
    line-height: 4vh;
    padding: 0;
}

.button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}